doctype html
html
  head
    title Quantum
    link(rel="stylesheet", href="/css/main.css")
  body
    canvas#game(width="800",height="600",moz-opaque=true)
    //-div
      //-button(onclick="start()") Connect
    //-div
      //-video#remoteVideo(autoplay=true)
      //-video#localVideo(autoplay=true)

    script(src="/socket.io/socket.io.js")

    script(src="/js/physic/physical_object.js")
    script(src="/js/physic/logo.js")
    script(src="/js/physic/spaceship.js")
    script(src="/js/scene/base_scene.js")
    script(src="/js/scene/opening_scene.js")
    script(src="/js/camera/base_camera.js")
    script(src="/js/camera/following_camera.js")
    script(src="/js/audio_manager.js")
    script(src="/js/game.js")
    script.
      const g = new Game('game')
      g.run()
